name: Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  actions: read
  checks: write
  contents: read
  id-token: write
  pages: write
  pull-requests: write

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5

      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          check-latest: true
          distribution: zulu
          cache: gradle

      - name: Check
        run: ./gradlew kotlinWasmUpgradeYarnLock check --warning-mode all

      - name: Build
        run: ./gradlew build

      - name: Artifacts
        if: always()
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Sample kmp tests
          path: sample-kmp/build/reports/tests/allTests
          if-no-files-found: error
          compression-level: 0
          overwrite: false

      - name: Artifacts
        if: always()
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Sample kmp lint results
          path: sample-kmp/build/reports/lint-results-debug.html
          if-no-files-found: error
          compression-level: 0
          overwrite: false
